.nav div{
    float:left;
}
.dropdown{
    display:none;
    float:none;
}
.abc:hover .dropdown{
    display:block
}
.dropdown div{
    float: none;
}
.nav{
    background-color:rgb(31, 32, 32);
    color:blue

}